<% provide(:title, 'Edit Task') %>
<h3><%= t("text.tasks_edit") %></h3>

<%= render 'form' %>

<%= link_to  t("links.button_show"), @task %> |
<%= link_to t("links.button_back"), tasks_path %>
