<h1>Ändern</h1><br>

<div class id=""works_form">
    <fieldset>
        <legend>Datensatz</legend>
      <%= render 'form' %>
    </fieldset>
</div>

<%= link_to 'Anzeigen', @work %> |
<%= link_to 'Zurück', works_path %>
