<div class="row">
  <div class="span6 offset3">
    <% provide(:title, 'New Works') %>
    <br>

    <h3><%= t("text.work_new_title") %></h3>

    <%= render 'form' %>

    <%= link_to t("links.button_back"), works_path %>

  </div>
</div>
