<% provide(:title,  @user.nachname) %>
<div class="row">
  <aside>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.vorname %>
        <%= @user.nachname %>
      </h1>
    </section>
  </aside>
</div>