<% provide(:title, '') %>
<div class="center hero-unit">
  <h3><%= t("text.home_page_title") %></h3>
   <%= image_tag "arbeitskosten.jpg" %><br>
  <br>
  <%= link_to t("text.home_page_button"), signup_path, class: "btn btn-large btn-primary" %>
</div>
