<% provide(:title, 'New Client') %>
<div class="row">
  <div class="span6 offset3">
    <br>
    <h3><%= t("text.project_new") %></h3>


<%= render 'form' %>

<%= link_to 'Back', projects_path %>

      </div>
    </div>
