// Place all the styles related to the excel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reports {
  .excel_title {
    color: #333333;
    font:  120% bold;
  }
  .total_line .total_cell {
    font-weight: bold;
    border-top:  1px solid #595;
  }
  .liste {
    padding-bottom: 0,5em;
    font: 18px bold calibri;
    color: blue;
    border-bottom: 3px solid #77d;
    background-color:rgb(192,192,192);
  }

}