<h1>AKN-Monatsauswahl</h1>

<table>
  <tr>
  <th width="100px">Kunde</th>
  <th width="20px">Monat</th>
  </tr>
  <div class="liste">
    <% @reports.each do |m| %>
      <tr>
         <td><%= m.client.name   %></td>
        <td><%=  link_to I18n.t("date.month_names")[m.monat], report_path(m.id)   %></td>
      </tr>
  <% end %>
  </div>
</table>
<br>
<%= link_to 'Zurück', works_path  %>




