<% provide(:title, 'Input Reports') %>
<div class="row">
  <div class="offset1">
    <h4><%= t("text.input_title") %></h4>
    <%=  form_tag output_path do %>
        <%= render 'form' %>
        <%=  submit_tag "GO"   %>
    <% end %>
  </div>
</div>