<div class="row">
  <div class="offset1">
    <h4>Auswahl Parameter</h4>
    <%=  form_tag output_pdf_path(format: "pdf") do %>
        <%= render  'form'  %>
        <%=  submit_tag "GO"   %>
    <% end %>
  </div>
</div>